
body{
    margin: 0;
}

#showInfoMsg, #showErrorMsg, #linkLogout, #viewRegister, #viewLogin, #viewHome{
    display:none;
}

#showInfoMsg{
    padding: 10px;

    border-radius: 15px;
    background-color: #009900;
    color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

#showErrorMsg{
    padding: 10px;

    border-radius: 15px;
    background-color: #cc2900;
    color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

.red-stars{
    color: #cc2900;
}

ul{
    list-style-type: none;
}

#linkLogin, #linkLogout, #linkRegister {
    text-decoration: none;
}

#navbar{
    background-color: #ffffff;
}

#navbar li{
    background-color: #e3d901;
    display:inline-block;
    padding: 10px;
    border-radius: 10px;
}

#navbar li:hover{
    background-color: #b2aa02;
}

section{
    background-color: #a4a4a4;
    padding: 10px;

    border-radius: 10px;
    font-family: Verdana, sans-serif;
    text-align: left;
}

section input{
    border-radius: 10px;
    padding: 5px;
}

#loginButton:hover, #registerButton:hover{
    background-color: #c6c6c6;
}

#new{
    font-family: Verdana, sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #a4a4a4;
    text-align: center;
    vertical-align: middle;
}

#new:hover{
    background-color: #7f7e7e;
    cursor: pointer;
}

#timer{
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

#usersWrapper{
    position: absolute;
    top:2px;
    margin-left: 500px;
    margin-bottom: 300px;
    width: 24%;
}

#currentUser, #results {
    font-weight: bold;
}

tr {
    padding: 5px 10px 5px 10px;
    text-align: center;
}

td{
    padding: 5px 10px 5px 10px;
    text-align: center;
}

#sings{
    padding:15px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 5px;
    margin-left: 300px;
    z-index:999;
}



#youWin, #youLose{
    display: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #7f7e7e;
}

#youWin {
    background-color: #009900;
}

#youLose{
    background-color: #cc2900;
}